---
import "@fontsource-variable/inter";
import Compatibility from "~/components/compatibility.astro";
import Features from "~/components/features.astro";
import Footer from "~/components/footer2.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import IntroSimple from "~/components/intro-simple.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
import MRTower from "~/components/mr-tower.astro";
import MRRythmn from "~/components/mr-rythmn.astro";
import MRFishing from "~/components/mr-fishing.astro";
import MRHunter from "~/components/mr-hunter.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Build fast websites, faster. Astro is a new kind of site builder for the modern web. Lightning-fast performance meets powerful developer experience.";
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" />
    <meta name="generator" content={generator} />

    <title>Sync</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <!-- <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script> -->
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.0.3/chroma.min.js"></script> -->
    <!-- <Header /> -->
    <Splash />
    <div class="container mx-auto space-y-24 px-8 py-32">
      <IntroSimple/>
<!--       <IntroSimple/>
      <MRTower />
      <MRRythmn />
      <MRHunter />
      <MRFishing /> -->
      <!-- <Features />
      <Compatibility />
      <Showcase /> -->
      <!-- <Intro /> -->
    </div>
    <Footer />
    <div style="padding: 20px; text-align: center; font-size: 14px; color: #AAAAAA;"><a href="https://beian.miit.gov.cn">京ICP备2024093130号-1</a></div> 
  </body>

</html>
